@font-face {
  font-family: "Avenir";
  src: url("./fonts/AvenirLTStd-Roman.otf") format("opentype");
}

body, button {
  margin: 0;
  font-family: 'Avenir', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
